:root {
  --primary-color: #007bff;
  --secondary-color: #28a745;
  --background-color: #f8f9fa;
  --text-color: #343a40;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: auto lfr;
  align-items: center;
  padding: 20px;
  background-color: var(--primary-color);
  color: #fff;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  text-align: center;
  color: #fff;
}

.hero-image {
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
}

.adventure {
  padding: 20px;
}

.adventure-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

figure {
  text-align: center;
  margin: 10px;
}

article p {
  color: var(--text-color);
}

.history {
  padding: 20px;
  background-color: #e9ecef;
}

/* section {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
} */

/* h2 {
  margin-bottom: 10px;
} */

/* article {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.client-image {
  float: right;
  width: 100px;
  height: auto;
}

section {
  padding: 20px;
} */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary-color);
  color: #fff;
}

.social-icons img {
  width: 30px;
  margin-left: 10px;
}

/* .social-icons {
  display: flex;
}*/
